.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-weight: 300;
  font-size: $font-size-large;
  padding: $s-size;
  text-decoration: none;
  line-height: 1;
  border-radius: .3rem;
}
#git {
  background: none;
  font-size: $l-size;
}
.button--remove {
  background: #888888;
}
